@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --primary-color: rgb(91, 22, 71);
  --secondary-color: rgb(147, 6, 62);
  --pink-color: rgb(202, 0, 53);
  --golden-color: rgb(255, 86, 39);
  --yellow-color: rgb(255, 196, 0);
  --basic-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: var(--yellow-color);
  padding: 1rem;
}
body {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  height: 90vh;
  width: 80%;
  margin: auto;
  box-shadow: 2px 4px 6px black;
}

header,
main,
#modalMsg {
  text-align: center;
}
header {
  margin: 1rem 1rem;
  font-family: var(--basic-font);
  animation: animateHeader 8s infinite ease-in-out;
  animation-timing-function: linear;
}

#modalBg,
.modalBg {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 15;
  width: 100%; /* Full width */
  height: 60%; /* Full height */
  background-color: transparent;
  padding: 2rem;
}

.modalBg-inactive {
  display: none;
}
.modal {
  background-color: var(--golden-color);
  border: 2px solid black;
  width: 70%;
  height: 30vh;
  margin: auto;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#showModalBtn {
  box-shadow: 2px 4px 64px white;
  animation: animateBoxShadow 4s infinite ease-in;
}

@keyframes animateBoxShadow {
  0% {
    box-shadow: 2px 4px 64px var(--primary-color);
  }
  25% {
    box-shadow: 2px 4px 64px var(--secondary-color);
  }
  50% {
    box-shadow: 2px 4px 64px var(--pink-color);
  }
  75% {
    box-shadow: 2px 4px 64px var(--yellow-color);
  }
  100% {
    box-shadow: 2px 4px 64px var(--golden-color);
  }
}

@keyframes animateHeader {
  0% {
    color: var(--golden-color);
    transform: translateX(45px);
  }
  25% {
    color: var(--pink-color);
    transform: translateX(-45px);
  }
  50% {
    color: var(--yellow-color);
    transform: translateX(-45px);
  }
  75% {
    color: rgb(255, 86, 39);
    transform: translateX(45px);
  }
}
